/* frontend/src/components/BottomNav.module.css */

.nav {
  position: fixed; /* ГЛАВНОЕ СВОЙСТВО */
  z-index: 100; /* Ставим поверх всего остального контента */
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: 0 auto;
  max-width: 450px;

  display: flex;
  justify-content: space-around;
  background-color: #408200;
  
  height: 60px;
  padding: 5px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.15); 
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Адаптация для планшетов */
@media (min-width: 768px) and (max-width: 1024px) {
  .nav {
    max-width: 600px; /* Увеличиваем ширину для планшетов */
    left: 50%;
    transform: translateX(-50%);
  }
}

.navButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border: none;
  background: none;
  cursor: pointer;
  color: #62A650;
  height: 100%; /* Растягиваем кнопку на всю высоту */

  /* --- ВОТ ИЗМЕНЕНИЕ: Убираем синее выделение при нажатии --- */
  -webkit-tap-highlight-color: transparent;
}

.navButton.active {
  color: #FFFFFF;
}

.navLabel {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  margin-top: 4px;
}
