/* frontend/src/components/UserAvatar.module.css */
.avatarText, .avatarImage {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  border: 3px solid white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.avatarImage {
  object-fit: cover; /* Чтобы фото не искажалось */
}

.placeholder {
  background-color: #ccc;
}

/* Убираем синюю разметку при фокусе и нажатии */
button,
button:focus,
button:focus-visible,
button:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  box-shadow: none !important;
}
