/* frontend/src/pages/admin/stats/InactiveUsersPage.module.css */

.userList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userCard {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #f0f0f0;
}

.avatarContainer {
    margin-right: 15px;
}

.userInfo {
    flex-grow: 1;
}

.userName {
    font-weight: 600;
}

.userPosition {
    font-size: 0.85rem;
    color: #6E7A85;
    margin-top: 2px;
}

.noInactiveMessage {
    text-align: center;
    padding: 20px;
    font-size: 1.1rem;
    color: #5CA14A;
    font-weight: 500;
}

/* Убираем синюю разметку при фокусе и нажатии */
button,
button:focus,
button:focus-visible,
button:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  box-shadow: none !important;
}
